div#highlighter_994086.syntaxhighlighter {
  background-color: #cec5cd !important;
  padding: 20px;
  overflow-x: auto !important;
  width: 100% !important;
  box-sizing: border-box;
  border-radius: 10px
}
div#highlighter_994086_1.syntaxhighlighter {
  background-color: #cec5cd !important;
  padding: 20px;
  width: 100% !important;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-image.po, .card-content.po {
  width: 300px;
}
.card-image.po img{
  max-width:300px;
    max-height:255px;
    width: auto;
    height: auto;
}
.card-image.po {
  height: 250px;
}


/* -- CODE --- */
    /* .code-sample:before { background-color: #e4ebf1; content: ""; height: 100%; position: absolute; width: 4px; left: 0; top: 0; z-index: 1;} */
    div.line.number1.index0, div.line.number2.index1, div.line.number3.index2, div.line.number4.index3,
    div.line.number5.index4, div.line.number6.index5, div.line.number7.index6, div.line.number8.index7,
    div.line.number9.index8, div.line.number10.index9, div.line.number11.index10, div.line.number12.index11,
    div.line.number13.index12, div.line.number14.index13, div.line.number15.index14, div.line.number16.index15,
    div.line.number17.index16, div.line.number18.index17, div.line.number19.index18, div.line.number20.index19,
    div.line.number21.index20, div.line.number22.index21, div.line.number23.index22, div.line.number24.index23,
    div.line.number25.index24, div.line.number26.index25, div.line.number27.index26, div.line.number28.index27,
    div.line.number29.index28, div.line.number30.index29, div.line.number31.index30, div.line.number32.index31,
    div.line.number33.index32, div.line.number34.index33, div.line.number35.index34, div.line.number36.index35,
    div.line.number37.index36, div.line.number38.index37, div.line.number39.index38, div.line.number40.index39,
    div.line.number41.index40, div.line.number42.index41, div.line.number43.index42, div.line.number44.index43,
    div.line.number45.index44, div.line.number46.index45, div.line.number47.index46, div.line.number48.index47,
    div.line.number49.index48, div.line.number50.index49, div.line.number51.index50, div.line.number52.index51,
    div.line.number53.index52, div.line.number54.index53, div.line.number55.index54, div.line.number56.index55,
    div.line.number57.index56, div.line.number58.index57, div.line.number59.index58, div.line.number60.index59{
      color: #646862 !important;
    }
    code.syntaxhighlighter table td.gutter .line {
      border-right: none !important;background-color: transparent !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      font-family: 'Roboto Mono' !important;
      border-right: 2px solid #5f5f5f!important;
      padding-right: 4px !important;
      margin-right: 4px !important;}
    code.xml.plain {
        color: #110508 !important;}
    code.xml.keyword {
       color: #0f4b74 !important;}
    code.xml.color1, code.xml.string {
       color: #39691a !important;}
    code.xml.value {
       color: #d7d7d7 !important;}
  
    code.xml.td.code.line {
       font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 19px !important;}

/* -- CODE --- */

/*---------------------------------------*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}
